spring:
  application:
    name: simple
  web:
    resources:
      add-mappings: false
  error:
    whitelabel:
      enabled: false

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: password

  jpa:
    database: h2
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update

  mvc:
    dispatcher:
      servlet:
        throw-exception-if-no-handler-found: true

server:
  error:
    handeling: only-once

logging:
  level:
    org.springframework.web: DEBUG
